body {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #0b9586;
  display: flex;
  margin-bottom: 0;
}
.nav img {
  width: 100%;
  height: auto;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.2;
}
.nav .links {
  margin: auto;
}
.nav .links a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
  font-family: "Inter";
  justify-content: space-between;
  padding-left: 30px;
  gap: 10px;
}
.nav .call {
  color: aliceblue;
  margin: auto;
  font-family: "Inter";
  font-weight: 100;
}
.nav .call p {
  padding-left: 60px;
}
.backImg {
  width: 100%;
  height: 650px;
  background-image: url("images/solar-panels-meadow\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.backImg div {
  padding-left: 180px;
  padding-top: 160px;
  color: aliceblue;
  font-family: "inter";
}
.backImg h2 {
  margin: 0;
  font-weight: 600;
  font-size: 52px;
}
.backImg p {
  font-size: 20px;
}
.backImg .btn1 {
  background-color: #3cab90;
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
.backImg .btn2 {
  background-color: #ffbb1c;
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
  color: black;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.head1 .text h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 42px;
}
.head1 .text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: gray;
}
.head1 .text span {
  font-family: "Akazan";
  font-weight: 700;
  font-size: 20px;
  color: #84bd3a;
}
.head1 .text h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  color: #101828;
}
.head1 .images {
  position: relative;
  padding-left: 70px;
}
.head1 .smbox {
  position: absolute;
  z-index: 50;
  background-color: #ffbb1c;
  top: 340px;
  right: 300px;
  width: 250px;
  height: 200px;
  border-radius: 20px;
}
.head1 .smbox p {
  padding-top: 20px;
  text-align: center;
  color: #2a3334;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
}
.head1 .smbox img {
  width: 50px;
  height: 70px;
  padding-top: 40px;
  padding-left: 50px;
}
.backImg2 {
  width: 100%;
  height: 650px;
  background-image: url("/images//8116\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.backImg2 div {
  padding-left: 180px;
  padding-top: 160px;
  color: aliceblue;
  font-family: "inter";
}
.backImg2 h2 {
  margin: 0;
  font-weight: 600;
  font-size: 42px;
}
.backImg2 p {
  font-size: 20px;
}
.backImg2 .btn3 {
  background-color: #ffbb1c;
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
  color: black;
  cursor: pointer;
}
.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  gap: 20px;
}
.main h1 {
  text-align: center;
  color: #101828;
  font-family: "Inter";
  font-weight: 600;
  font-size: 42px;
}
.main .p1 {
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #475467;
}
.main .dives1 {
  width: 350px;
  height: 450px;
  margin-left: 60px;
}
.main .divs {
  display: flex;
  text-align: start;
  margin: 50px auto;
}
.main .divs img {
  width: 100%;
}
.main .divs h4 {
  color: #101828;
  padding-left: 15px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
}
.main .divs p {
  color: #475467;
  padding-left: 15px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}
.main .divs .btn4 {
  background-color: white;
  color: #3cab90;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
}
.main .divs i {
  background-color: white;
  color: #3cab90;
  border: none;
}
.backImg3 {
  width: 100%;
  height: 505px;
  background-image: url("/images/8116\ 1\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backImg3 div {
  background-color: #00000091;
  backdrop-filter: blur(8px); /* blur effect*/
  border-radius: 20px;
  margin: auto;
  width: 50%;
  height: auto;
  text-align: center;
  color: aliceblue;
  padding-left: 15px;
  padding-right: 15px;
}
.backImg3 h2 {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 600;
}
.backImg3 p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}
.energy {
  width: 100%;
  height: auto;
  background-color: #ffbb1c0d;
}
.energy .text .lines {
  background-color: #3cab9026;
  width: 85px;
  height: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.energy .text .fileline {
  background-color: #3cab90;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
}
.energy .text .fileline i {
  color: white;
  padding-top: 35%;
}
.energy .text h2 {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 600;
}
.energy .text p {
  color: #475467;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
}
.energy .cards {
  display: flex;
  padding-left: 130px;
}
.energy .cards .r2cards {
  padding-left: 100px;
}
.energy .cards .card {
  border: 1.7px solid;
  border-radius: 12px;
  border-color: #0b9586;
  width: 250px;
  height: 290px;
  padding: 15px;
  margin-bottom: 20px;
}
.energy .cards .card .img {
  border-radius: 5px;
  background-color: #0de8b126;
}
.energy .cards .card .img img {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.energy .cards .card h4 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
}
.energy .cards .card p {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  color: #475467;
}
.energy .cards .card .btn5 {
  background-color: transparent;
  color: #3cab90;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.energy .cards .card i {
  background-color: white;
  color: #3cab90;
  border: none;
}
.value .valuecards .cards {
  border: 1px solid #3cab90;
  border-radius: 15px;
  height: auto;
  padding: 25px;
}
.value .valuecards .cards .handusers iconify-icon,
.handusers .hand {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3cab90;
}
.value .valuecards .cards .handusers {
  position: relative;
  width: 50px;
  height: 50px;
  left: 50px;
}
.handusers iconify-icon {
  z-index: 10;
}
.handusers .hand {
  z-index: 1;
  top: 70%;
}
.value .valuecards .cards {
  font-size: 70px;
  padding-left: 15px;
}
.value .valuecards .cards iconify-icon {
  font-size: 70px;
  padding-left: 15px;
  color: #3cab90;
}
.woc .text iconify-icon {
  color: #3cab90;
  font-size: 40px;
}
.woc .text h2 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
}
.woc .text p {
  color: #1c1c1c;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
}
.woc .slider {
  background-color: #3cab900f;
  border-radius: 15px;
  width: 600px;
  height: 330px;
  margin-left: 200px;
}
.woc .slider .dotes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.woc .slider .dotes h5 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #3cab90;
}
.woc .slider .dotes iconify-icon {
  color: #d9d9d9;
  font-size: 60px;
}
.woc .slider .mainparag {
  font-weight: 400;
  font-family: "Inter";
  font-size: 20px;
  color: #101828;
  padding-left: 20px;
}
.woc .arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.woc .arrows .imgname {
  display: flex;
}
.woc .arrows img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 15px;
}
.woc .arrows h4 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
  padding-left: 8px;
}
.woc .arrows p {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  color: #1c1c1c;
  padding-left: 8px;
}
.woc .arrows .iconas {
  font-size: 45px;
  color: #1c1c1c;
}
.footer {
  background-color: #283646;
  height: 250px;
  padding: 30px 30px;
}
.footer img {
  mix-blend-mode: luminosity;
  width: 150px;
  height: 50px;
}
.footer .linksfooter a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 500;
}
.footer .linksfooter {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.footer .input {
  margin-left: 370px;
}
.footer .input h4 {
  color: white;
  font-family: "Inter";
  font-weight: 200;
}
.footer input {
  border-color: #b3bdc7;
  background-color: transparent;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 15px 70px 15px 20px;
  border-top: 1px solid #ccc;
  border-right: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  flex: 1;
}

.footer .submit {
  background-color: #ffbb1c;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 0;
  cursor: pointer;
}
.footer .firstsecfooter {
  border-bottom: 2px solid #ccc; /* إضافة خط تحت القسم */
}
.footer .container3 {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.footer .secondsecfooter p {
  color: #92989f;
  font-family: "Inter";
  font-weight: 300;
  font-size: 12px;
}
.footer .secondsecfooter h5 {
  color: #92989f;
  font-family: "Inter";
  font-weight: 300;
  font-size: 12px;
  padding-top: 10px;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  .nav img {
    width: 150px;
    height: 50px;
    margin-left: 40px;
  }
  .backImg div {
    padding-left: 50px;
    padding-top: auto;
  }
  .backImg h2 {
    font-size: 40px;
  }
  .backImg p {
    font-size: 15px;
  }
  .backImg3 p {
    font-size: 15px;
  }
  .backImg2 div {
    padding-left: 50px;
    padding-top: 230px;
  }
  .backImg2 h2 {
    font-size: 30px;
  }
  .backImg2 p {
    font-size: 15px;
  }
  .energy .cards {
    padding-left: 10px;
  }
  .energy .cards .r2cards {
    padding-left: 50px;
  }
  .energy .cards .card {
    width: 90%;
  }
  .value .valuecards .cards p {
    font-size: 10px;
  }
  .woc .slider {
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  .footer {
    height: auto;
    padding: 15px 15px;
  }
  .footer img {
    width: 100px;
    height: 20px;
  }
  .footer .linksfooter a {
    font-weight: 200;
    font-size: 10px;
  }
  .footer .linksfooter {
    gap: 10px;
  }
  .footer .input {
    margin-left: 25px;
    margin-top: 0;
  }
  .footer .input h4 {
    font-weight: 100;
    font-size: 15px;
  }
  .footer input {
    padding: 10px 50px 10px 15px;
  }
  .footer .submit {
    padding: 10px 25px;
  }
  .footer .container3 {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 576px) {
  .nav img {
    width: 100px;
    height: 30px;
    margin-left: 5px;
  }
  .nav .links a {
    padding-left: 20px;
    gap: 7px;
  }
  .nav .call span,
  p {
    padding-left: 50px;
    font-size: 12px;
  }
  .backImg div {
    padding-left: 50px;
    padding-top: auto;
  }
  .backImg h2 {
    font-size: 40px;
  }
  .backImg p {
    font-size: 15px;
    padding-left: 0px;
  }
  .head1 p {
    padding-left: 0px;
  }
  .head1 .images {
    padding-left: 50px;
  }
  .head1 .smbox {
    top: 390px;
    right: 320px;
    width: 200px;
    height: 150px;
  }
  .backImg3 p {
    font-size: 15px;
  }
  .backImg2 div {
    padding-left: 20px;
    padding-top: 230px;
  }
  .backImg2 h2 {
    font-size: 25px;
  }
  .backImg2 p {
    font-size: 13px;
    padding-left: 0px;
  }
  .main .divs p,
  i {
    font-size: 10px;
  }
  .main .divs .btn4 {
    font-size: 10px;
  }
  .energy .text p {
    padding-left: 0px;
  }
  .energy .cards {
    padding-left: 10px;
  }
  .energy .cards p {
    padding-left: 0px;
  }
  .energy .cards .r2cards {
    padding-left: 50px;
  }
  .energy .cards .card {
    width: 90%;
    height: auto;
  }
  .value .valuecards .cards p {
    font-size: 8px;
  }
  .value .valuecards .cards {
    font-size: 50px;
    padding-left: 5px;
    margin-left: 5px;
  }
  .container2 {
    padding: 10px 10px;
    gap: 10px;
  }
  .woc .text {
    margin: auto;
  }
  .woc .text p {
    padding-left: 0px;
  }
  .woc .slider {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .footer {
    height: auto;
    padding: 15px 15px;
  }
  .footer img {
    width: 100px;
    height: 20px;
  }
  .footer .firstsecfooter {
    padding-left: 120px;
  }
  .footer .linksfooter a {
    font-weight: 200;
    font-size: 10px;
  }
  .footer .linksfooter {
    gap: 10px;
  }
  .footer .input {
    margin-left: 0px;
    margin-top: 0;
  }
  .footer .input h4 {
    font-weight: 100;
    font-size: 12px;
  }
  .footer input {
    padding: 10px 50px 10px 15px;
  }
  .footer .submit {
    padding: 10px 25px;
  }
  .footer .container3 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer .secondsecfooter p {
    font-weight: 200;
    font-size: 10px;
  }
  .footer .secondsecfooter .linksfooter p {
    padding-left: 0px;
    padding-top: 0px;
  }
  .footer .secondsecfooter h5 {
    font-weight: 200;
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .nav img {
    width: 100px;
    height: 30px;
    margin-left: 70px;
  }
  .nav .links a {
    padding-left: 35px;
    gap: 7px;
  }
  .nav .call span,
  p {
    padding-left: 60px;
    font-size: 18px;
  }
  .backImg div {
    padding-left: 50px;
    padding-top: auto;
  }
  .backImg h2 {
    font-size: 40px;
  }
  .backImg p {
    font-size: 20px;
    padding-left: 0px;
  }
  .head1 p {
    padding-left: 0px;
  }
  .head1 .images {
    padding-left: 25%;
  }
  .head1 .smbox {
    top: 390px;
    right: 320px;
    width: 200px;
    height: 150px;
  }
  .backImg3 p {
    font-size: 15px;
  }
  .backImg2 div {
    padding-left: 20px;
    padding-top: 230px;
  }
  .backImg2 h2 {
    font-size: 35px;
  }
  .backImg2 p {
    font-size: 18px;
    padding-left: 0px;
  }
  .container2 {
    padding: 10px 10px;
    gap: 10px;
  }
  .main .divs p,
  i {
    font-size: 15px;
  }
  .main .divs .btn4 {
    font-size: 15px;
  }
  .energy .text p {
    padding-left: 0px;
  }
  .energy .cards {
    padding-left: 10px;
  }
  .energy .cards p {
    padding-left: 0px;
  }
  .energy .cards .r2cards {
    padding-left: 50px;
  }
  .energy .cards .card {
    width: 90%;
    height: auto;
  }
  .value .valuecards .cards p {
    font-size: 15px;
  }
  .value .valuecards .cards {
    font-size: 50px;
    padding-left: 5px;
    margin-left: 5px;
  }
  .container2 {
    padding: 10px 10px;
    gap: 10px;
  }
  .woc .text {
    margin: auto;
  }
  .woc .text p {
    padding-left: 0px;
  }
  .woc .slider {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .footer {
    height: auto;
    padding: 20px 20px;
  }
  .footer img {
    width: 150px;
    height: 30px;
  }
  .footer .firstsecfooter {
    padding-left: 120px;
  }
  .footer .linksfooter a {
    font-weight: 200;
    font-size: 15px;
  }
  .footer .linksfooter {
    gap: 10px;
  }
  .footer .input {
    margin-left: 70px;
    margin-top: 0;
  }
  .footer .input h4 {
    font-weight: 100;
    font-size: 15px;
  }
  .footer input {
    padding: 10px 50px 10px 15px;
  }
  .footer .submit {
    padding: 10px 25px;
  }
  .footer .container3 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer .secondsecfooter p {
    font-weight: 200;
    font-size: 15px;
  }
  .footer .secondsecfooter .linksfooter p {
    padding-left: 0px;
    padding-top: 0px;
  }
  .footer .secondsecfooter h5 {
    font-weight: 200;
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .backImg div {
    padding-left: 80px;
  }
  .head1 {
    display: flex;
  }
  .head1 .text h2 {
    font-size: 40px;
  }
  .head1 .text p {
    font-size: 15px;
  }
  .head1 .images {
    position: relative;
    padding-left: 50px;
    margin-left: 550px;
  }
  .backImg2 div {
    padding-left: 85px;
    padding-top: 20%;
  }
  .energy .cards {
    padding-left: 50px;
  }
  .energy .text {
    padding-left: 50px;
  }
  .value .p1 {
    font-size: 25px;
  }
  .woc .text {
    padding-left: 80px;
  }
  .woc .slider {
    width: 50%;
    height: auto;
    margin-left: 20px;
  }
  .footer {
    height: auto;
  }
  .footer .input {
    margin-left: 250px;
  }
  .footer .container3 {
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer .secondsecfooter .linksfooter p {
    padding-left: 0px;
    padding-top: 0px;
    font-size: 16px;
  }
  .footer .secondsecfooter h5 {
    font-weight: 200;
    font-size: 15px;
  }
}
